bayesian-optimization
chocolate
dill
hyperopt
lightgbm
networkx
numpy
netlsd
ogb
psutil
pyyaml
requests
scikit-learn
scipy
tabulate
https://download.pytorch.org/whl/cpu/torch-1.7.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.7.0/torch_cluster-1.5.8%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.7.0/torch_scatter-2.0.5%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.7.0/torch_sparse-0.6.8%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.7.0/torch_spline_conv-1.2.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
torch-geometric
tqdm